<div class="relative h-lvh m-5  overflow-x-auto overflow-hidden shadow-md sm:rounded-lg ">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Event name</th>
      <th scope="col" class="px-6 py-3">Creator name</th>
      <th scope="col" class="px-6 py-3">Event time & date</th>
      <th scope="col" class="px-6 py-3">Joined</th>
      <th scope="col" class="px-6 py-3">Action</th>

    </tr>
    </thead>
    <tbody>
    <% @joinedevents.each do |event| %>
      <%= render 'singleJoinedRow', event:event %>
    <% end %>
    </tbody>
  </table>

</div>
